<div class="img-container">
  <div class="grid">
    <div id="title-div"><h1>Flickr Carousel</h1></div>
    <app-my-photo
      [imgUrl]="photoUrls[index]">
    </app-my-photo>
    <button id="carousel-previous"
            style="grid-row: 2;"
            (click)="OnClickCarousel(-1)"
            (mouseenter)='OnMouseEnter("previous")'
            (mouseleave)='OnMouseExit("previous")'>Previous</button>
    <button
      id="carousel-next"
      style="grid-row: 3;"
      (click)="OnClickCarousel(1)"
      (mouseenter)='OnMouseEnter("next")'
      (mouseleave)='OnMouseExit("next")'>Next</button>
  </div>
</div>
