.title
{
  width: 50%;
  height: 100%;

  grid-column: 1 / -1;
  grid-row: 1;

  border: solid 4px white;
  border-radius: 2em;

  background: linear-gradient(orange, darkred);

  text-align: center;
  color: black;
  letter-spacing: 10px;
  word-spacing: 20px;
  margin: auto;

  font-size: 40px;
}

.resize
{
  object-fit: contain;
  width: 100px;
  max-height: 100%;
  font-size: 40px;
}

.global {
  /* center the div in the screen*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Brush Script MT', cursive;
}

.flex-gap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 10px;
}

.flex-gap > * {
  margin: 6px;
}

.overlay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.overlay > * {
  margin: 5px;
}

.property {
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
}


