<a routerLink="/form">
  <button pButton style="margin: 5px">Form</button>
</a>

<p class="title">Gallery</p>
<p class="title" style="width: 25%; font-size: 20px;">Page:{{formMessage?.page || 1}}</p>



<div *ngIf="images" class="flex-gap">
  <div *ngFor="let image of images; let index = index;" key="index">
    <img [src]="image" class="resize" style="cursor: pointer" (click)="imageClick(index)"/>
  </div>
</div>


<div style="display: flex; justify-content: center">
  <button pButton style="margin: 20px" (click)="previousPage()">Previous Page</button>
  <button pButton style="margin: 15px">Info</button>
  <button pButton style="margin: 20px" (click)="nextPage()">Next Page</button>
</div>

