<a routerLink="/form">
  <button pButton style="margin: 5px">Formulaire
  </button>
</a>

<p class="title">Gallerie</p>
<p class="title" style="width: 25%; font-size: 20px;">Page:{{formMessage?.page || 1}}</p>



<div class="flex-gap">
  <div *ngFor="let image of images ; index as index;" key="index">
    <img [src]="image" class="resize" style="cursor: pointer" (click)="imageClick(index)"/>
  </div>
</div>

<div style="display: flex; justify-content: center">
  <button pButton style="margin: 20px" (click)="previousPage()">Page précédente</button>
  <button pButton style="margin: 20px" (click)="nextPage()">Page suivante</button>
</div>

<p-dialog [(visible)]="overlayVisible" class="global" style="width: 50px">
  <p class="property">Information</p>
  <div *ngFor="let e of overlayElement" class="overlay">
    <div class="property">{{e.property}}</div><div> {{e.field}}</div>
  </div>
  <div *ngIf="overlayDescription.length > 0" class="overlay">
    <div class="property">Description</div>
    <div [innerHTML]="overlayDescription"></div>
  </div>
</p-dialog>


