.global {
  /* center the div in the screen*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  font-family: 'Brush Script MT', cursive;
}

.flex-gap {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.flex-gap > * {
  margin: 6px;
}

