<div class="global">
  <form class="form-horizontal" [formGroup]="searchForm" (ngSubmit)="OnSubmit(searchForm.value)">

    <div class="flex-gap">
        <label class="control-label">Tags</label>
        <input type="text" placeholder="Sport, Home" formControlName="tags">
    </div>

    <div class="flex-gap">
      <label>Text</label>
      <textarea pInputTextarea id="text" type="text" placeholder="Squat" formControlName="text"></textarea>
    </div>

    <div class="flex-gap">
      <label>Recherche safe</label>
      <p-toggleButton onIcon="pi pi-check" offIcon="pi pi-times" formControlName="safe_search"></p-toggleButton>
    </div>

    <div class="flex-gap">
      <label>Dans la gallerie</label>
      <p-toggleButton onIcon="pi pi-check" offIcon="pi pi-times" formControlName="in_gallery"></p-toggleButton>
    </div>

    <div class="flex-gap">
      <label>Date minimum d'upload</label>
      <p-calendar formControlName="min_upload_date"></p-calendar>
    </div>

    <div class="flex-gap">
      <label>Date maximum d'upload</label>
      <p-calendar formControlName="max_upload_date"></p-calendar>
    </div>

    <div class="flex-gap">
      <label>Trier</label>
      <p-dropdown formControlName="sort"
                  [options]="['Date posted asc', 'Date posted desc',
                  'Date taken asc', 'Date taken desc',
                  'Interestingness asc', 'Interestingness desc']"></p-dropdown>
    </div>

    <button pButton type="submit" [disabled]="!searchForm.valid">Confirm</button>
  </form>
</div>
